* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 100%;
  padding: 2%;
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
  }

  .main-content {
    padding: 1%;
  }
}

